node_modules/
.env
.env.local
.env.production
.env.development
*.log
.DS_Store
npm-debug.log*
logs
Thumbs.db

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/apps/api/node_modules
/apps/api/.pnp
/apps/api/.pnp.js


/apps/api/.env.local
/apps/api/.env.development.local
/apps/api/.env.test.local
/apps/api/.env.production.local

/apps/api/npm-debug.log*
/apps/api/yarn-debug.log*
/apps/api/yarn-error.log*

# dependencies
/apps/web/node_modules
/apps/web/.pnp
/apps/web/.pnp.js

# misc
/apps/web/.DS_Store
/apps/web/.env.local
/apps/web/.env.development.local
/apps/web/.env.test.local
/apps/web/.env.production.local

/apps/web/npm-debug.log*
/apps/web/yarn-debug.log*
/apps/web/yarn-error.log*
